body {
    text-align: center;
    min-height: 100vh;

}

header {
    height: 20vh;
    background-color: rgb(99, 2, 99);
    color: rgb(21, 105, 4);
}

.slotDisplay {
    display: flex;
}

img {
    width: 250px;
}
















