body {
    text-align: center;
    min-height: 100vh;

}

header {
    height: 20vh;
    background-color: rgb(99, 2, 99);
    color: rgb(21, 105, 4);
}

.slotDisplay {
   display: flex;
   justify-content: center;
}

img {
    width: 250px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#resultDisplay {
    color: rgb(235, 12, 41);
    font-style: italic;
}

button {
    margin-top: 100px;
}
















